{% extends 'base/base.html' %}
{% load humanize crispy_forms_tags staticfiles rrhh_utils %}

{% block title_page %}
    Perfil de {{ object }}
{% endblock %}

{% block title %}
    Perfil de usuario
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:home_rrhh' %}">Recursos Humanos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:personas' %}">Personas</a></li>
    <li class="breadcrumb-item active">Perfil de usuario</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card text-center">
                <div class="card-body">
                    {% if object.foto %}
                        <img src="{{ object.foto.url }}" class="img-thumbnail" alt="{{ object.username }}">
                    {% else %}
                        <img src="{% static 'base/img/user.png' %}" class="img-thumbnail" alt="{{ object.username }}">
                    {% endif %}

                    <h4 class="mb-0 mt-2">{{ object.get_short_name }}</h4>
                    {% if object.profesion %}<p class="text-muted font-14">{{ object.profesion }}</p>{% endif %}

                    <div class="text-left mt-3">
                        <h4 class="font-13 text-uppercase">Informacion personal</h4>
                        <p class="text-muted mb-2 font-13"><strong>Nombre completo :</strong> <span class="ml-2">{{ object.get_full_name }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>RUT :</strong> <span class="ml-2">{{ object.rut }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Fecha de nacimiento :</strong> <span class="ml-2">{{ object.fecha_nacimiento }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Genero :</strong> <span class="ml-2">{{ object.get_genero_display }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Nacionalidad :</strong> <span class="ml-2">{{ object.get_nacionalidad_display }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Estado civil :</strong> <span class="ml-2">{{ object.get_estado_civil_display }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Religión :</strong> <span class="ml-2">
                            {% if object.religion %}
                                Adventista Del Séptimo Día
                            {% else %}
                                Otra
                            {% endif %}
                        </span></p>
                        <p class="text-muted mb-2 font-13"><strong>Dirección :</strong> <span class="ml-2">{{ object.direccion }}{% if object.ciudad %}, {{ object.ciudad }}, {{ object.ciudad.comuna.region }}{% endif %}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Teléfono :</strong> <span class="ml-2">{{ object.telefono }}</span></p>
                        <p class="text-muted mb-2 font-13"><strong>Correo electrónico :</strong> <span class="ml-2">{{ object.email }}</span></p>
                        {% if object.usuario %}
                            <p class="text-muted mb-2 font-13"><strong>Usuario :</strong> <span class="ml-2">{{ object.usuario }}</span></p>
                        {% elif request.user.perfilusuario.es_admin or request.user.is_staff %}
                            <a role="button" href="#" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#asignar_usuario">
                                <i class="uil-user-plus"></i> Asignar Usuario
                            </a>
                        {% endif %}

                    </div>

                    <a role="button" href="{% url 'rrhh:persona__editar' object.pk %}"
                       class="btn btn-outline-info btn-sm float-right">
                        <i class="uil-edit"></i> Editar
                    </a>
                </div> <!-- end card-body -->
            </div> <!-- end card -->

        </div> <!-- end col-->

        <div class="col-xl-8 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                        {% if object.funcionario %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link rounded-0 active" id="profesional-tab" data-toggle="tab" href="#settings"
                                   role="tab" aria-controls="profesional" aria-selected="false">Inf. Funcionario</a>
                            </li>
                        {% else %}
                            <li class="nav-item alert-info" role="link">
                                <a class="nav-link rounded-0" href="{% url 'rrhh:funcionario__nuevo' object.id %}" role="tab">
                                    <i class="uil-plus"></i> Crear Funcionario
                                </a>
                            </li>
                        {% endif %}
                        {% if object.contrato_set.all %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link rounded-0" id="historial-contrato-tab" data-toggle="tab" href="#aboutme"
                                   role="tab" aria-controls="ihstorial-contrato" aria-selected="false">Hitorial</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        {% if object.funcionario %}
                            <div class="tab-pane show active" id="settings">
                                <h5 class="mb-4 text-uppercase">
                                    <i class="mdi mdi-account-circle mr-1"></i> Información del funcionario

                                    <a role="button" href="{% url 'rrhh:funcionario__editar' object.funcionario.pk %}"
                                       class="btn btn-outline-info btn-sm float-right">
                                        <i class="uil-edit"></i> Editar
                                    </a>

                                </h5>
                                <div class="table-responsive">
                                    <table class="table table-borderless table-nowrap">
                                        <tbody>
                                        <tr>
                                            <th>AFP</th>
                                            <td>{{ object.funcionario.afp|beauty_none }}</td>
                                        </tr>
                                        <tr>
                                            <th>Salud</th>
                                            <td>{{ object.funcionario.get_salud_display|beauty_none }}</td>
                                        </tr>
                                        {% if object.funcionario.salud == 2 %}
                                            <tr>
                                                <th>Isapre</th>
                                                <td>{{ object.funcionario.isapre|beauty_none }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <th>Fecha de ingreso de Docente</th>
                                            <td>{{ object.funcionario.fecha_ingreso_docente|beauty_none }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de ingreso al SEA</th>
                                            <td>{{ object.funcionario.fecha_ingreso_sea|beauty_none }}</td>
                                        </tr>
                                        <tr>
                                            <th>Estado del Funcionario</th>
                                            <td>{{ object.funcionario.get_estado_display }}</td>
                                        </tr>
                                        {% if object.estado == 2 %}
                                            <tr>
                                                <th>Tipo de misionero</th>
                                                <td>{{ object.funcionario.get_tipo_misionero_display }}</td>
                                            </tr>
                                            <tr>
                                                <th>Puntos</th>
                                                <td>{{ object.funcionario.puntos }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        {% endif %}
                        <!-- end settings content-->

                        <div class="tab-pane" id="aboutme">
                            <h5 class="text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>Experiencia</h5>
                            <div class="timeline-alt pb-0">
                                {% for contrato in object.funcionario.contrato_set.all|dictsortreversed:"fecha_inicio"|dictsortreversed:"vigente" %}
                                    <div class="timeline-item">
                                        <i class="mdi mdi-circle{% if contrato.vigente %} bg-success-lighten{% else %} bg-danger-lighten{% endif %} text-info timeline-icon"></i>
                                        <div class="timeline-item-info">
                                            <h5 class="mt-0 mb-1">{{ contrato.funcion_principal }} - {{ contrato.entidad }}</h5>
                                            <p class="font-14">{{ contrato.get_tipo_contrato_display }} <span class="ml-2 font-12">{{ contrato.periodo_contrato }}</span></p>
                                            <p class="text-muted mt-2 mb-0 pb-3">
                                                {% if contrato.reemplazando %}En reemplazo de: <span>{{ contrato.reemplazando }}</span><br>{% endif %}
                                                Categoria: <span>{{ contrato.get_categoria_display }}</span><br>
                                                Función principal: <span>{{ contrato.funcion_principal }}</span><br>
                                                Estado Trabajador: <span>
                                                    {% if contrato.vigente %}
                                                        <i class="text-success"> Contratado</i>
                                                    {% else %}
                                                        <i class="text-danger"> Desvinculado</i>
                                                    {% endif %} </span><br>
                                                {% if not contrato.vigente %}
                                                    Razón de baja: <span>{{ contrato.finiquito.get_razon_baja_display }}</span><br>
                                                    Fecha de finiquito: <span>{{ contrato.fecha }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <!-- end timeline -->
                        </div> <!-- end tab-pane -->
                        <!-- end about me section content -->
                    </div> <!-- end tab-content -->
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="asignar_usuario">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="." method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Asignar usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {% crispy asignar_up_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">Asignar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
