{% extends 'evado/universo_encuesta_list.html' %}
{% load bootstrap_pagination rrhh_utils %}

{% block title_page %}
    Universo de Encuestas - detalle
{% endblock %}

{% block title %}
    Detalle de Universo de Encuestas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:universo_encuesta_list' %}">Universos de Encuestas</a></li>
    <li class="breadcrumb-item active">Detalle de Universo de Encuestas</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{{ universoencuesta }} <small>{{ object.periodo }}</small>
                {% block buttons %}
                    <div class="btn-group btn-group-sm float-right">
                        <a class="btn btn-outline-primary" href="{% url 'evado:universo_encuesta_edit' object.pk %}"
                           data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="uil-edit"></i></a>
                        <a data-toggle="modal" data-target="#send_mails" class="btn btn-outline-info">
                            <span class="mdi mdi-email-send"></span> Enviar Correos </a>
                        <a class="btn btn-outline-success" href="{% url 'evado:actualizar_encuestas_universo' object.pk %}">
                            <i class="uil-refresh"></i> Actualizar encuestas
                        </a>
                    </div>
                {% endblock %}
            </h5>
            <p class="subtitle"> Listado de Personas <small> Disponibles para Encuestar. </small> </p>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <form role="form" method="GET">
                    <div class="row">
                        <div class="col-md-3 px-1">
                            <select class="select form-control" name="colegio">
                                <option disabled selected> Seleccione Colegio </option>
                                {% for colegio in colegios %}
                                    <option value="{{ colegio.persona__infopersona__colegio }}">{{ colegio.persona__infopersona__colegio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 px-1">
                            <select class="select form-control" name="estado">
                                <option disabled selected> Seleccione Estado </option>
                                <option value="1">Finalizada</option>
                                <option value="0">Pendiente</option>
                            </select>
                        </div>
                        <div class="col-md-5 pr-1">
                            <input type="text" class="form-control" name="search" placeholder="Buscar">
                        </div>
                        <div class="col-md-1 pl-1">
                            <button class="btn btn-info" type="submit"><i class="uil-search"></i></button>
                        </div>
                    </div>
                </form>
                {% if search or colegio or estado %}
                    <div class="row mt-1">
                        <div class="px-2">
                            <a class="small" href="{{ request.path }}">Limpiar Listado</a>
                        </div>
                        {% if search %}
                            <div class="pr-2 small">
                                <strong>Búsqueda:</strong> <em>{{ search }}</em>
                            </div>
                        {% endif %}
                        {% if colegio %}
                            <div class="pr-2 small">
                                <strong>Filtro por colegio:</strong> <em>{{ colegio }}</em>
                            </div>
                        {% endif %}
                        {% if estado %}
                            <div class="pr-2 small">
                                <strong>Filtro por estado:</strong> <em>{% if estado == "0" %}Pendiente{% else %}Finalizada{% endif %}</em>
                            </div>
                        {% endif %}
                        <div class="pr-2 small">
                            <strong>Total de resultados:</strong> <em>{{ total_resultados }}</em>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>Evaluador</th>
                    <th>Estado de finalización</th>
                    <td></td>
                    </thead>
                    <tbody>
                    {% for x in personas %}
                        <tr>
                            <td>
                                {{ x.persona }}
                                <p class="my-0 small text-muted">{{ x.persona.infopersona.colegio }}</p>
                                <p class="label {% if x.correo_enviado %} text-success {% else %} text-danger {% endif %} mb-0">
                                    Correo {% if x.correo_enviado %} enviado {% else %} no enviado  {% endif %}
                                </p>
                            </td>
                            {% if not x.encuesta_finalizada %}
                                <td class="text-warning">
                                    Pendiente
                                </td>
                            {% else %}
                                <td class="text-success">
                                    Finalizada
                                </td>
                            {% endif %}
                            <td>
                                <div class="btn-group btn-group-sm float-right">
                                    <a href="{% url 'evado:enviar_encuesta' x.persona.id universoencuesta.id %}" class="btn btn-outline-primary">
                                        <span class="mdi mdi-email-send"></span> Enviar Correo
                                    </a>
                                    {% if request.user.perfilusuario.es_admin or request.user.is_staff %}
                                        <a href="{% url 'evado:tomar_encuesta' x.get_hash_encuesta %}" class="btn btn-outline-warning" target="_blank">
                                            <span class="uil-eye"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% bootstrap_paginate personas range=5 show_first_last="true" %}
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="send_mails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Envío de Correos <small> {{ universoencuesta }} </small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea enviar multiples correos?</p>
                    {% if universoencuesta.correos_enviados %}
                        <div class="alert alert-danger">
                            <strong> Ya ha realizado el envío de correos el {{ universoencuesta.correos_enviados }} </strong>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar operación</button>
                    <a href="{% url 'evado:enviar_todas_encuestas' universoencuesta.id %}" class="btn btn-primary">Enviar Correos</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}