{% extends 'base/base.html' %}
{% load bootstrap_pagination %}

{% block content%}
    <div class="card">
        <div class="card-header">
            <h5>{% block title_card %}{% endblock %}
                {% block buttons_card %}{% endblock %}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <form class="col-md-4" role="form" method="GET">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" name="q" placeholder="Buscar">
                        <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <span class="uil-search"></span>
                        </button>
                    </span>
                    </div><!-- /input-group -->
                </form>
                {% if filtro %}
                    <div class="col-md-8">
                        Búsqueda: <em>{{ search }}</em><br>Total de resultados: <em>{{ object_list|length }}</em>
                    </div>
                {% endif %}
            </div>
            {% if filtro %}
                <a class="small" href="{{ request.path }}">Limpiar Listado</a>
            {% endif %}
            <div class="table-responsive">
                {% block table %}
                {% endblock %}
            </div>
{#            {% bootstrap_paginate object_list range=5 show_first_last="true" %}#}
        </div>
    </div>

{% endblock%}